<div class="background_div">
    <div class="inner_div">
        <h1 style="border:2px solid white; background-color:lightblue; font-weight: bold; padding:15px; border-radius: 30px;">{{container.title}}</h1>
        <p style="margin-top: 40px; border:2px solid white; padding: 15px; border-radius: 30px; background-color: pink;">{{container.body}}</p> 
    </div>

    <div class="icon-bar">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
        <a href="#" class="google"><i class="fa fa-google"></i></a> 
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
      </div>

      <div class="button_div">
        <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-lg">Food</button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu" style="background-color: lightblue;">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </div>
            <br><br>
            
            <div class="btn-group">
              <button type="button" class="btn btn-secondary btn-lg">Organic Food</button>
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu" style="background-color: lightgray;">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </div>
            <br><br>
          
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-lg">Healthy Food</button>
              <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu" style="background-color: lightgreen;">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </div>
            <br><br>
          
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-lg">Conserve Biodiversity</button>
              <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu" style="background-color: lightblue;">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </div>
            <br><br>
          
            <div class="btn-group">
              <button type="button" class="btn btn-warning btn-lg">Farm Fresh</button>
              <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu" style="background-color: yellow;">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </div>
            <br><br>
          
            <div class="btn-group">
              <button type="button" class="btn btn-danger btn-lg">Healthy Food</button>
              <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu" style="background-color: red;">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </div>
          </div>
      </div>
</div>

