.cart_back_img {
    background-image: url('/assets/images/world.jpg');
    background-position: center;
    background-size: cover;
}

.subtotal_div {
    position: absolute;
    top:80px;
    right:80px;
    border:5px solid greenyellow;
    background-color:moccasin;
    padding: 20px;
    width:300px;
}

.total_btn {
    margin-top:20px;
    padding:10px;
    font-weight: bold;
    margin-left: 20px;
    width: 200px;
    border-radius: 10px;
    background-color:orchid;
    transition: 0.2s;
}

.total_btn:hover {
    background-color: powderblue;
}

.flex_div {
    display:flex;
    margin-left: 20px;
    border-bottom:5px solid black;
    height: 440px;
    margin-bottom: 30px;
    overflow: hidden;
    width:60%;
    padding:30px;
}

.flex_div_1 {
    width: 350px;
    height: 215px;
    border:8px solid greenyellow;
    background-color: purple;
}

.flex_div_2 {
    border: 5px solid orange;;
    margin-left: 70px;
    padding: 15px;
    height: 370px;
    width: 350px;
    background-color:darkgray;
}

.flex_div_3 {
    border:5px solid red;
    width: 200px;
    margin-left: 70px;
    height: 100px;
    padding:10px;
    background-color:lightblue;
}