<!-- Header -->
<div class="image-container">
  <div class="text">ABOUT</div>
</div>
<!-- Header -->

<!-- Text over image-->
<div class="blur_div">
  
  <div class="container">
    <img src="/assets/images/category-2.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
      <h1>Heading</h1>
      <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
      <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
      <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
    </div>
  </div>

</div>
<!-- Text over image-->


<div class='team_div'>

  <h1 style="text-align: center; font-weight: bold; font-size: 50px;">OUR TEAM</h1>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images/staff-01.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/images/staff-02.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/images/staff-03.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- Symbol Div Section-->
<div class="symbol_div">
  <div class="row2">
    <div class="column2">
      <div class="card2">
        <p><i class="fa fa-user"></i></p>
        <h3>11+</h3>
        <p>Partners</p>
      </div>
    </div>
  
    <div class="column2">
      <div class="card2">
        <p><i class="fa fa-check"></i></p>
        <h3>55+</h3>
        <p>Projects</p>
      </div>
    </div>
    
    <div class="column2">
      <div class="card2">
        <p><i class="fa fa-smile-o"></i></p>
        <h3>100+</h3>
        <p>Happy Clients</p>
      </div>
    </div>
    
    <div class="column2">
      <div class="card2">
        <p><i class="fa fa-coffee"></i></p>
        <h3>100+</h3>
        <p>Meetings</p>
      </div>
    </div>
  </div>
</div>
<!-- Symbol Div Section-->

<div class="about_Div_Right">

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2 style="color: lightblue;">What is bigbasket.com?</h2>
      <h5 style="color:greenyellow;">In Detail</h5>
      <div class="fakeimg"><img src="/assets/images/bg_3.jpg" style="width: 100%; height:101%"></div>
      <p style="color:lightseagreen; font-weight: bold;">bigbasket.com (Innovative Retail Concepts Private Limited) is India’s largest online food and grocery store. With over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for</p>
      <h3 style="color:darkblue;">Happy Shopping</h3>
      <p style="color:darkblue;">Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2 style="color: darkred;">How do I order?</h2>
      <h5 style="color: darkred;">Browse bigbasket.com for products
        or use the search feature</h5>
      <div class="fakeimg" style="width: 250px;"><img src="/assets/images/product-4.jpg" style="width: 100%; height:101%"></div>
      <p  style="color:lightseagreen; font-weight: bold;">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2 style="color: darkred;">Your products will be home-delivered
        as per your order.</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="width: 250px;"><img src="/assets/images/product-2.jpg" style="width: 100%; height:101%"></div>
      <p  style="color:lightseagreen; font-weight: bold;">We currently offer our services in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore and Chandigarh Tricity city limits.</p>
    </div>
  </div>
</div>


</div>



