<div class="image_Div">
    <div class="body_Div">

        <h1 style="color: darkmagenta; background-color: lightblue; padding: 15px;">{{blog_Data.title}}</h1>
        <h5 style="font-weight: bold; color:limegreen;">{{blog_Data.author}}</h5><br>
        <button type="button" class="btn btn-info" routerLink='/list'><i class='fas fa-clipboard' style='font-size:30px;color:red'></i>&nbsp;&nbsp;
            All Articles</button>&nbsp;&nbsp;&nbsp;
        <!-- <button type="button" class="btn btn-info">Edit</button> -->
        <hr>
        <p style="font-weight: bold; color: maroon;">{{blog_Data.description}}</p>
    
    </div>
</div>