<div style="background-color:darksalmon;">

    <h1 style="margin-top: 20px; margin-left: 20px; color:white; font-weight: bold;">ACCOUNTS & LISTS</h1>

<div class="header_div">
    <button type="button" class="sign_btn" routerLink='/signIn'>Sign in</button>
</div>

<p style="text-align: center; margin-top: -10px;">New Customer? <a routerLink='/createAccount'>Start here</a></p>

<!-- <hr style="border:2px solid grey"> -->

<div class="list_div">

    <div class="list_div_1">
        <ul style="list-style-type: none;">
            <li><h3 style="font-weight: bold; font-size: 30px;">Your List</h3></li>
            <li><a href="#">Create a wish list</a> </li>
            <li><a href="#">Find a wish list</a></li>
            <li><a href="#">Wish From any Website</a></li>
            <li><a href="#">Baby Wish List</a></li>
            <li><a href="#">Explore Showroom</a></li>
        </ul>
    </div>

    <div class="list_div_2">
        <ul style="list-style-type: none;">
            <li><h2>Your Account</h2></li>
            <li><a routerLink='/userAccount'>Your Account</a></li>
            <li><a routerLink='/userOrder'>Your Order</a></li>
            <li><a href="#">Your Wishlist</a></li>
            <li><a href="#">Your Recommendations</a></li>
            <li><a href="#">Your Membership</a></li>
            <li><a href="#">Your Subscribe & Save Items</a></li>
            <li><a href="#">Your Seller Account</a></li>
        </ul>
    </div>

</div>

</div>

<div style="height: 300px; overflow: hidden; border:2px solid black;">
<img src="assets/images/category-4.jpg" style="width: 100%;" alt="">
</div>

