<div class="div_body">

<div class="header">
    <h2 style="font-weight: bold; font-size: 50px;">HEALTHY BLOG</h2>
  </div>
  
  <div class="row">
    <div class="leftcolumn">

      <div class="card" style="background-color: bisque;">
        <h2>Forget Food: 10 Reasons Why You No Longer Need It</h2>
        <h5>Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">
         <img src='assets/images/category-2.jpg' style="width: 100%;">
        </div>

        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <span (click)= 'blogFunc1()'>Read More</span>
      </div>


      <div class="card"  style="background-color:salmon;">
        <h2>The Biggest Problem With Food, And How You Can Fix It</h2>
        <h5> Sep 9, 2018</h5>

        <div class="fakeimg" style="height:200px;">
            <img src='assets/images/category-4.jpg' style="width: 100%;">
        </div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <span (click)= 'blogFunc2()'>Read More</span>
      </div>

    </div>


    <div class="rightcolumn">

      <div class="card"  style="background-color:lightblue;">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">
          <img src='assets/images/product-3.jpg' style="width: 100%;">
        </div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>

      <div class="card"  style="background-color:yellow;">
        <h3>Popular Post</h3>
        <div style="border: 2px solid green; color: orange; background-color: lightblue; padding: 15px; font-weight: bold; font-size: 20px; ">
          <a href="#" style="text-decoration: none; color: white;">Farmers Market</a>
        </div><br>

        <div style="border: 2px solid green;  background-color: pink; padding: 15px; font-weight: bold; font-size: 20px;">
          <a href="#" style="text-decoration: none; color: white;">Farmers Market</a>
        </div><br>
        
        <div style="border: 2px solid green;  background-color: yellowgreen; padding: 15px; font-weight: bold; font-size: 20px;">
          <a href="#" style="text-decoration: none; color: white;">Farmers Market</a>
        </div><br>
      </div>
      
      <div class="card" style="background-color: turquoise;">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="leftcolumn">

      <div class="card" style="background-color: violet;">
        <h2>Think You're Cut Out for Doing Food? Take This Quiz</h2>
        <h5>Dec 7, 2020</h5>

        <div class="fakeimg" style="height:200px;">
          <img src='assets/images/miss.jpg' style="width: 100%;">
      </div>

        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <span (click)= 'blogFunc3()'>Read More</span>
      </div>

      <div class="card" style="background-color: cadetblue;">

        <h2>10 Things Everyone Hates About Food</h2>
        <h5>Sep 2, 2020</h5>

        <div class="fakeimg" style="height:200px;">
          <img src='assets/images/hello.jpg' style="width: 100%;">
      </div>

        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <span (click)= 'blogFunc4()'>Read More</span>
      </div>
    </div>

    <div class="rightcolumn">
      
      <div class="card"  style="background-color:coral;">
        <h3>Popular Post</h3>
        <div style="border: 2px solid green; color: orange; background-color: lightblue; padding: 15px; font-weight: bold; font-size: 20px; ">
          <a href="#" style="text-decoration: none; color: white;">Healthy Food</a>
        </div><br>

        <div style="border: 2px solid green;  background-color: pink; padding: 15px; font-weight: bold; font-size: 20px;">
          <a href="#" style="text-decoration: none; color: white;">Healthy Food</a>
        </div><br>
        
        <div style="border: 2px solid green;  background-color: yellowgreen; padding: 15px; font-weight: bold; font-size: 20px;">
          <a href="#" style="text-decoration: none; color: white;">Healthy Food</a>
        </div><br>
      </div>
     
    </div>

  </div>
  
  <div class="footer">
    <h2>STAY HEALTHY</h2>
  </div>

</div>