<div class="body_Img">
  <h1 class="text-center text-success mt-2" style="font-weight: bold; background-color: darkkhaki; padding: 15px;">Blog Articles</h1>

<button type="button" class="btn btn-danger btn-lg shadow-lg mt-5 article_btn" routerLink='/newArticle'><i class='fas fa-file-alt' style='font-size:35px;color:yellow'></i>&nbsp;&nbsp;New Article</button>

<div class="blog-content shadow-lg" *ngFor='let blog of blog_Data_Array'>
  <h2 style="color: coral; font-weight: bold;"><i class='fas fa-sticky-note' style='font-size:30px;color:darkturquoise'></i>
    {{blog.title}}</h2>
  <h5 style="color: darkcyan; font-weight: bold;"><i class='fas fa-user-circle' style='font-size: 30px; color: grey;'></i>&nbsp;&nbsp;{{blog.author}}</h5>
  <p style="width: 800px; height: 50px; overflow: hidden;">{{blog.description}}</p>
  <button type="button" class="btn btn-success btn-lg shadow-lg" (click)='fullArticle(blog)'><i class='fas fa-bookmark' style='font-size:30px;color:violet'></i>&nbsp;&nbsp;Read More</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-secondary btn-lg shadow-lg" (click)='editArticle(blog)'><i class='fas fa-edit' style='font-size:30px;color:beige'></i>
    Edit</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-warning btn-lg shadow-lg" (click)='deleteArticle(blog)'><i class='fas fa-trash-alt' style='font-size:30px;color:cornflowerblue'></i>
    Delete</button>
</div>
</div>